body {
  background-image: url("https://images.wallpaperscraft.com/image/city_night_panorama_117682_1920x1080.jpg");
  background-size: 1300px;
}
.rowAdjust {
  padding-bottom: 8.5rem;
}

.text-success {
  color: white!important;
  font-weight: 700;
}

.imageAdjust {
  height: 580px;
}

.sweet-loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  padding-left: 20%;
  padding-top: 5.5%;
}

.text-muted {
  text-transform: capitalize;
  color: black;
  font-weight: 500;
  
}

.adjustCard {
  text-align: center;
}

.hcm {
  padding-left: 18%;
  margin-top: -2%;
  margin-bottom: 4%;
  font-family: Georgia, serif;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: white;
  font-weight: 700;
  text-decoration: solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}
.hanoi {
  padding-left: 22%;
  margin-top: -2%;
  margin-bottom: 4%;
  font-family: Georgia, serif;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: white;
  font-weight: 700;
  text-decoration: solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}
.card-text {
  word-spacing: 60px;
  margin-bottom: -1px;
  padding-top: 10px;
}

.max-min {
  word-spacing: 73px;
  color: green;
}